html {
    background-color: #1f1f1f;
    color: white;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    image-rendering: pixelated;
}

#welcome {
    font-size: 2em;
}

@font-face {
    font-family: 'Berylium BD';
    src: url('assets/font/berylium bd.otf') format('opentype');
}

body {
    font-family: 'Berylium BD';
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #1a1a1a;
    height: 80px;
}

nav .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.navContainer a {
    height: 80%;
}

.navContainer a img {
    height: 100%;
}

.navContainer div {
    height: 100%;
}

.navContainer div a {
    height: 80%;
    margin-left: 20px;
}

.navContainer div a img {
    height: 100%;
}
   
section {
    padding-left: 10%;
    padding-right: 10%;
}

button {
    gap: 5px;
    background-color: rgb(62, 62, 62);
    border-color: rgb(15, 15, 15);
    color: rgb(15, 15, 15);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    border-color: rgb(0, 255, 255);
    color: rgb(0, 225, 255);
}

button:active {
    border-color: rgb(0, 128, 128);
    color: rgb(0, 128, 128);
}

#buttons {
    display: flex;
    gap: 20px;
}

@keyframes beta {
    0% { color: rgb(0, 225, 0); }
    7% { color: #2F2F2F; }
    10% { color: rgb(0, 255, 0); }
    17% { color: #2F2F2F; }
    20% { color: rgb(0, 255, 0); }
    25% { color: rgb(0, 255, 0); }
    30% { color: #2F2F2F; }
    40% { color: #2F2F2F; }
    43% { color: rgb(0, 255, 0); }
    50% { color: #2F2F2F; }
    53% { color: rgb(0, 255, 0); }
    63% { color: rgb(0, 255, 0); }
    70% { color: #2F2F2F; }
    73% { color: rgb(0, 255, 0); }
    80% { color: #2F2F2F; }
    85% { color: #2F2F2F; }
    93% { color: rgb(0, 255, 0); }
    95% { color: #2F2F2F; }
    100% { color: rgb(0, 255, 0); }
}

.beta::before {
    content: "β ";
  }

.beta {
    animation: beta 10s infinite;
}

@keyframes ruined {
    0% { color: rgb(0, 225, 225); }
    7% { color: #2F2F2F; }
    10% { color: rgb(0, 255, 225); }
    17% { color: #2F2F2F; }
    20% { color: rgb(0, 255, 225); }
    25% { color: rgb(0, 255, 225); }
    30% { color: #2F2F2F; }
    40% { color: #2F2F2F; }
    43% { color: rgb(0, 255, 225); }
    50% { color: #2F2F2F; }
    53% { color: rgb(0, 255, 225); }
    63% { color: rgb(0, 255, 225); }
    70% { color: #2F2F2F; }
    73% { color: rgb(0, 255, 225); }
    80% { color: #2F2F2F; }
    85% { color: #2F2F2F; }
    93% { color: rgb(0, 255, 225); }
    95% { color: #2F2F2F; }
    100% { color: rgb(0, 255, 225); }
}

.ruined {
    animation: ruined 10s infinite;
}


/* imported from my own so called "bootstrap" */
.flex {
    display: flex;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-jc-center {
    display: flex;
    justify-content: center;
}

.flex-ai-start {
    display: flex;
    align-items: start;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.col {
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}
.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.fit {
    object-fit: contain;
}

.m0 {
    margin: 0 !important;
}

.mt6 {
    margin-top: 6px;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.gap {
    display: flex;
    gap: 10px;
}

    /* grays */
    .gray1 {
        color: #4a4a4a;
    }
    .gray2 {
        color: #5a5a5a;
    }
    .gray3 {
        color: #696969
    }
    .gray4 {
        color: #7a7a7a;
    }
    .gray5 {
        color: #8b8b8b;
    }
    /* end */

/* end */

/* objects */
object {
    width: 100%;
}

.navbar-object {
    height: 80px;
}

.footer-object {
    height: 300px;
    margin-top: auto;
}

embed {
    width: 100%;
    height: 10vw;
}

/* end */

#platforms svg {
    color: white;
    width: 20px;
    height: 20px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -20px;
    margin-bottom: -30px;
}

.title .svgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(circle, #00ffff44, #00ffff22, #00ffff11, #00000000, #00000000);
}

.title svg {
    width: 30px;
    height: 30px;
}

#profile {
    display: flex;
    width: 100%;
    gap: 10px;
}

#profile .left {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#profile .right {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#projectDisplay {
    margin-top: 20px;
    display: flex;
    background-color: #202020;
    border-radius: 10px;
    width: 1400px;
    height: 577px;
    margin-bottom: 20px;
    box-shadow: #000000 0px 0px 10px;
}


#projectDisplay .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1110px;
    height: 100%;
}

#main-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    object-fit: contain;
    image-rendering: optimizeQuality;
}

#projectDisplay .image div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#projectDisplay .sub-images {
    width: 100%;
    height: 16%;
}

#projectDisplay .image div div {
    width: 20%;
}

#projectDisplay .image div div img {
    margin-left: 5px;
    width: 100%;
    object-fit: contain;
    image-rendering: optimizeQuality;
}

#projectDisplay .image div div:first-child img {
    margin-left: 0px;
}



#projectDisplay .info {
    padding: 10px;
}

#projectDisplay .info hr {
    opacity: 20%;
}

#projectDisplay .info h1 {
    margin: 0;
}

#projectDisplay .info p {
    color: rgb(156, 156, 156);
    margin: 0;
    margin-top: 15px;
}

#projectDisplay .info #version p {
    margin: 0;
}

#projectDisplay .info span {
    color: rgb(236, 236, 236);
}

#contributors img {
    background-color: #1a1a1a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: optimizeQuality;
    margin-right: -10px;
}

#moreContributors img {
    background-color: #1a1a1a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

@media (max-width: calc(1400px + 20vw)) {
    #projectDisplay {
        width: 1200px;
        height: 518px;
    }
}

@media (max-width: calc(1200px + 20vw)) {
    #projectDisplay {
        width: 1000px;
        height: 433px;
    }
}

@media (max-width: calc(1000px + 20vw)) {
    #projectDisplay {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    #projectDisplay .image {
        width: 100%;
    }
    #projectDisplay .info {
        width: 100%;
        padding: 10px;
    }
    #projectDisplay .image div div img {
        padding: 0px;
        width: 100%;
    }
}

.iconDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
    gap: 2%;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.brandCard {
    width: 40%;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(26, 26, 26);
    height: 300px;
}
footer .body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 10px;

}

footer .body .img {
    width: 400px;
}

footer .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 255, 255);
}

.statusInActive {
    color: #421919 !important;
    background-color: #F9BDBD;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.statusDone {
    color: #214219 !important;
    background-color: #BDF9BD;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.statusActive {
    color: #193f42 !important;
    background-color: #bdf9f9;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

#projects {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}


#projects .project,
#projects .image {
    width: 400px;
    background-color: rgb(32, 32, 32);
}

#projects .project {
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transform: translateY(0);
    border-radius: 10px;
}

#projects .project:hover {
    box-shadow: rgb(0, 0, 0) 3px 3px 20px;
    transform: translateY(-5px);
}


#projects .image {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#projects .head,
#projects .body {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#projects .body {
    padding: 10px;
    width: 380px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects .body div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#projects .body div svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

#projects .body p,
#projects .body h2 {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(156, 156, 156);
}

#projects .body span {
    color: rgb(236, 236, 236);
}

#projects .info {
    padding: 10px;
}

#projects .info p {
    color: rgb(156, 156, 156);
}

#projects .info h4 {
    color: rgb(134, 134, 134);
}

#projects .footer {
    background-color: rgb(26, 26, 26);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}

#projects .footer a {
    width: 100%;
    height: 100%;
}

#projects .footer svg {
    width: 15px;
    height: 15px;
}

#programs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    height: 150px;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#programs .program {
    width: 400px;
    height: 100px;
    flex-shrink: 0;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transform: translateY(0);
}

#programs .program:hover {
    box-shadow: rgb(0, 0, 0) 3px 3px 20px;
    transform: translateY(-5px);
}

#programs .program .bar {
    height: 15px;
    width: 100%;
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
}

#programs .program .bar .progress {
    height: 100%;
    border-radius: 10px;
}

#programs .program .bar .progressText {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

.functionTitle {
    background: linear-gradient(43deg, #00ffff 0%, #0000ff 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* card flip */


    .flipCard {
        perspective: 150rem;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
        height: 300px;
        box-shadow: none;
        background: none;
    }
  
    .flipCard-side {
        border-radius: 15px;
        transition: transform 0.8s ease;
        backface-visibility: hidden;
        background-color: #1f1f1f;
        border: 3px solid #1a1a1a;
        box-shadow: 0 1rem 2rem #00000033;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 6px);
        height: 100%;
        color: white;
    }
    
    .flipCard-side.back {
        transform: rotateY(180deg);
    }
    
    .flipCard-side.front {
        transform: rotateY(0deg);
    }

    .flipCard.flipped .flipCard-side.front {
        transform: rotateY(-180deg);
    }
    
    .flipCard.flipped .flipCard-side.back {
        transform: rotateY(0deg);
    }
    
    .flipCard-side .content {
        width: 95%;
        height: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* end */
    
@media (max-width: 1033px) {
    #profile {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    #profile .left {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #profile .right {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    embed {
        width: 100%;
        height: 14vw;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    nav {
        height: 50px;
    }
    .navbar-object {
        height: 50px;
    }
    .plan {
        display: block;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    .mo-col {
        flex-direction: column;
    }

    .mo-inv {
        display: none;
    }

    footer .body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    footer .body .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .body .img {
        width: 80%;
    }
    .mo-w100 {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    #projects .project,
    #projects .image {
        width: 100%;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
    }

    #projects .body {
        padding: 3%;
    }    
    
    #projects .head,
    #projects .body {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #projects .body {
        width: 94%;
    }

    #programs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 15px;
        height: auto;
        gap: 30px;
    }

    #programs .program {
        width: calc(100% - 40px);
        height: 100px;
        padding: 10px;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        transition: box-shadow 0.1s ease, transform 0.1s ease;
        transform: translateY(0);
    }

    section {
        padding-left: 0%;
        padding-right: 0%;
    }
    footer {
        height: 250px;
    }
    .footer-object {
        height: 250px;
    }
    embed {
        width: 100%;
        height: 18vw;
    }
}