/* cryonium bootstrap */
.d-f { display: flex; }
.jc-s { justify-content: start; }
.jc-c { justify-content: center; }
.jc-sb { justify-content: space-between; }
.jc-sa { justify-content: space-around; }
.ai-s { align-items: start; }
.ai-c { align-items: center;}
.ai-sb { align-items: space-between; }
.ai-sa { align-items: space-around; }
.fd-c { flex-direction: column; }
.fd-r { flex-direction: row; }
.m-0 { margin: 0 !important; }
.g-5 { gap: 5px; }
.g-10 { gap: 10px; }
.rounded { border-radius: 800px; }
.gray2 { color: rgb(122, 122, 122); }
.td-u { text-decoration: underline; }
/*  */

html {
    background-color: #1f1f1f;
    color: white;
    padding: 0;
    height: 100%;
    width: 100%;
    scrollbar-color: #00000000;
}

body {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    image-rendering: pixelated;
}

#welcome {
    font-size: 2em;
}

@font-face {
    font-family: 'Berylium BD';
    src: url('assets/font/berylium bd.otf') format('opentype');
}

body {
    font-family: 'Berylium BD';
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #1a1a1a;
    height: 80px;
}

nav .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.navContainer a {
    height: 80%;
}

.navContainer a img {
    height: 100%;
}

.navContainer div {
    height: 100%;
}

.navContainer div a {
    height: 80%;
    margin-left: 20px;
}

.navContainer div a img {
    height: 100%;
}
   
section {
    padding-left: 10%;
    padding-right: 10%;
}

button {
    gap: 5px;
    background-color: rgb(62, 62, 62);
    border-color: rgb(15, 15, 15);
    color: rgb(15, 15, 15);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    border-color: rgb(0, 255, 255);
    color: rgb(0, 225, 255);
}

button:active {
    border-color: rgb(0, 128, 128);
    color: rgb(0, 128, 128);
}

#buttons {
    display: flex;
    gap: 20px;
}

@keyframes beta {
    0% { color: rgb(0, 225, 0); }
    7% { color: #2F2F2F; }
    10% { color: rgb(0, 255, 0); }
    17% { color: #2F2F2F; }
    20% { color: rgb(0, 255, 0); }
    25% { color: rgb(0, 255, 0); }
    30% { color: #2F2F2F; }
    40% { color: #2F2F2F; }
    43% { color: rgb(0, 255, 0); }
    50% { color: #2F2F2F; }
    53% { color: rgb(0, 255, 0); }
    63% { color: rgb(0, 255, 0); }
    70% { color: #2F2F2F; }
    73% { color: rgb(0, 255, 0); }
    80% { color: #2F2F2F; }
    85% { color: #2F2F2F; }
    93% { color: rgb(0, 255, 0); }
    95% { color: #2F2F2F; }
    100% { color: rgb(0, 255, 0); }
}

.beta::before {
    content: "β ";
  }

.beta {
    animation: beta 10s infinite;
}

@keyframes ruined {
    0% { color: rgb(0, 225, 225); }
    7% { color: #2F2F2F; }
    10% { color: rgb(0, 255, 225); }
    17% { color: #2F2F2F; }
    20% { color: rgb(0, 255, 225); }
    25% { color: rgb(0, 255, 225); }
    30% { color: #2F2F2F; }
    40% { color: #2F2F2F; }
    43% { color: rgb(0, 255, 225); }
    50% { color: #2F2F2F; }
    53% { color: rgb(0, 255, 225); }
    63% { color: rgb(0, 255, 225); }
    70% { color: #2F2F2F; }
    73% { color: rgb(0, 255, 225); }
    80% { color: #2F2F2F; }
    85% { color: #2F2F2F; }
    93% { color: rgb(0, 255, 225); }
    95% { color: #2F2F2F; }
    100% { color: rgb(0, 255, 225); }
}

.ruined {
    animation: ruined 10s infinite;
}


/* imported from my own so called "bootstrap" */

.margin {
    padding-left: 10%;
    padding-right: 10%;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.mx-w45 {
    max-width: 45%;
}

.col {
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.ha {
    height: auto !important;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.fit {
    object-fit: contain;
}

.m0 {
    margin: 0 !important;
}

.mt6 {
    margin-top: 6px;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap {
    display: flex;
    gap: 10px;
}

    /* grays */
    .gray1 {
        color: #4a4a4a;
    }
    .gray2 {
        color: #5a5a5a;
    }
    .gray3 {
        color: #696969
    }
    .gray4 {
        color: #7a7a7a;
    }
    .gray5 {
        color: #8b8b8b;
    }
    /* end */

/* end */

/* objects */
object {
    width: 100%;
}

.navbar-object {
    height: 80px;
}

.footer-object {
    height: 300px;
    margin-top: auto;
}

embed {
    width: 100%;
    height: 10vw;
}

/* end */

#platforms svg {
    color: white;
    width: 20px;
    height: 20px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -20px;
    margin-bottom: -30px;
}

.title .svgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(circle, #00ffff44, #00ffff22, #00ffff11, #00000000, #00000000);
}

.title svg {
    width: 30px;
    height: 30px;
}

#profile {
    display: flex;
    width: 100%;
    gap: 10px;
}

#profile .left {
    display: flex;
    width: calc(100% - 550px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#profile .right {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#projectDisplay {
    margin-top: 20px;
    display: flex;
    background-color: #202020;
    border-radius: 10px;
    width: 1400px;
    height: 577px;
    margin-bottom: 20px;
    box-shadow: #000000 0px 0px 10px;
}


#projectDisplay .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1110px;
    height: 100%;
}

#main-image {
    width: 100%;
    height: 480px;
    border-top-left-radius: 10px;
    object-fit: cover;
    object-position: top;
    image-rendering: optimizeQuality;
}

#projectDisplay .image div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#projectDisplay .sub-images {
    width: 100%;
    height: 16%;
}

#projectDisplay .image div div {
    width: 20%;
}

#projectDisplay .image div div img {
    margin-left: 5px;
    width: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

#projectDisplay .image div div:first-child img {
    margin-left: 0px;
}



#projectDisplay .info {
    padding: 10px;
}

#projectDisplay .info hr {
    opacity: 20%;
}

#projectDisplay .info h1 {
    margin: 0;
}

#projectDisplay .info p {
    color: rgb(156, 156, 156);
    margin: 0;
    margin-top: 15px;
}

#projectDisplay .info #version p {
    margin: 0;
}

#projectDisplay .info span {
    color: rgb(236, 236, 236);
}

#contributors img {
    background-color: #1a1a1a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: optimizeQuality;
    margin-right: -10px;
}

#moreContributors img {
    background-color: #1a1a1a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

@media (max-width: calc(1400px + 20vw)) {
    #projectDisplay {
        width: 1200px;
        height: 518px;
    }
    #projectDisplay #main-image {
        height: 430px;
    }
}

@media (max-width: calc(1200px + 20vw)) {
    #projectDisplay {
        width: 1000px;
        height: 433px;
    }
    #projectDisplay #main-image {
        height: 360px;
    }
}

@media (max-width: calc(1000px + 20vw)) {
    #projectDisplay {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    #projectDisplay #main-image {
        width: 100%;
        height: 45%;
        margin-bottom: 5px;
    }
    #projectDisplay .info {
        width: 100%;
        padding: 10px;
    }
    #projectDisplay .image div div img {
        padding: 0px;
        width: 100%;
    }
}

.iconDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
    gap: 2%;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.brandCard {
    width: 40%;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(26, 26, 26);
    height: 300px;
}
footer .body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 10px;

}

footer .body .img {
    width: 400px;
}

footer .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 255, 255);
}

.statusInActive {
    color: #adadad !important;
    border: 1px solid #adadad;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.statusDone {
    color: #4fff4f !important;
    border: 1px solid #4fff4f;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.statusActive {
    color: #44ffff !important;
    border: 1px solid #44ffff;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

#projects {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}


#projects .project,
#projects .image {
    width: 400px;
    background-color: rgb(29, 29, 29);
}

#projects .project {
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transform: translateY(0);
    border-radius: 10px;
}

#projects .project:hover {
    box-shadow: rgb(0, 0, 0) 3px 3px 20px;
    transform: translateY(-5px);
}


#projects .image {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: top;
    transition: object-position 0.5s ease;
}

#projects .project:hover .image {
    object-position: center;
}

#projects .head,
#projects .body {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#projects .body {
    padding: 10px;
    width: 380px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projects .body div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#projects .body div svg {
    flex-shrink: 0;
}

#projects .body p,
#projects .body h2 {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(156, 156, 156);
}

#projects .body span {
    color: rgb(236, 236, 236);
}

.dubbleDisplay {
    display: flex;
}

.dubbleDisplay div {
    width: 50%;
    flex-grow: 0;
}

#projects .info {
    padding: 10px;
}

#projects .info p {
    color: rgb(156, 156, 156);
}

#projects .info h4 {
    color: rgb(134, 134, 134);
}

#projects .footer {
    background-color: rgb(26, 26, 26);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}

#projects .footer a {
    width: 100%;
    height: 100%;
}

#projects .footer svg {
    width: 15px;
    height: 15px;
}

#programs,
#languages {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    height: 150px;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#languages {
    height: 230px;
}

#programs p,
#languages p {
    color: rgb(156, 156, 156);
}

#programs span,
#languages span {
    color: rgb(255, 255, 255);
}

#programs .program,
#languages .language {
    width: 400px;
    height: 100px;
    flex-shrink: 0;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transform: translateY(0);
}

#languages .language {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

#languages .language .icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* button */

#languages .language .buttons {
    display: flex;
    gap: 10px;
    margin-left: 160px;
}
#languages .language .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transform: translateY(0);
    height: 40px;
}
#languages .language .button img {
    height: 36px;
    object-fit: cover;
    object-position: center;
    image-rendering: optimizeQuality;
}

#languages .language .image {
    position: absolute;
    top: 110px;
    margin-left: -10px;
    border-bottom-left-radius: 10px;
    width: auto;
    height: 90px;
    opacity: 0.5;
    image-rendering: optimizeQuality;
}

#programs .program:hover,
#languages .language:hover {
    box-shadow: rgb(0, 0, 0) 3px 3px 20px;
    transform: translateY(-5px);
}

#programs .program .bar {
    height: 15px;
    width: 100%;
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
}

#programs .program .bar .progress {
    height: 100%;
    border-radius: 10px;
}

#programs .program .bar .progressText {
    color: rgb(85, 85, 85);
    font-size: 0.8em;
}

.functionTitle {
    background: linear-gradient(43deg, #00ffff 0%, #0000ff 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    flex-shrink: 1;
}

.background-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 120px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    padding: 5px;
    margin-left: 10px;
    margin-top: -70px;
    border-radius: 50%;
    object-fit: cover;
}

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

/* card flip */


    .flipCard {
        perspective: 150rem;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        width: 550px;
        height: 300px;
        box-shadow: none;
        background: none;
    }
  
    .flipCard-side {
        border-radius: 15px;
        transition: transform 0.8s ease;
        backface-visibility: hidden;
        background-color: #1f1f1f;
        border: 3px solid #1a1a1a;
        box-shadow: 0 1rem 2rem #00000033;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 6px);
        height: 100%;
        color: white;
    }
    
    .flipCard-side.back {
        transform: rotateY(180deg);
    }
    
    .flipCard-side.front {
        transform: rotateY(0deg);
    }

    .flipCard.flipped .flipCard-side.front {
        transform: rotateY(-180deg);
    }

    .flipCard.flipped .flipCard-side.back {
        transform: rotateY(0deg);
    }

    .flipCard .content {
        height: 100%;
    }
    
    .flipCard-side .content div {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flipCard-side .content p {
        margin-top: auto;
    }
    
    /* end */

    .arrow {
        position: fixed;
        z-index: 2;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border: 2px solid #00ffff;
        background-color: #000000;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        transition: border-color 0.2s ease;
    }

    .arrow:hover {
        border-color: #009999;
    }

    #prev {
        top: 50%;
        left: 30px;
        display: none;
    }

    #next {
        top: 50%;
        right: 30px;
    }
    
@media (max-width: 1033px) {
    #profile {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    #profile .left {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #profile .right {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    embed {
        width: 100%;
        height: 14vw;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    nav {
        height: 50px;
    }
    .navbar-object {
        height: 50px;
    }
    .plan {
        display: block;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    .mo-col {
        flex-direction: column;
    }

    .mo-inv {
        display: none;
    }

    footer .body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    footer .body .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .body .img {
        width: 80%;
    }
    .mo-w100 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .margin {
        padding-left: 0%;
        padding-right: 0%;
    }
    .arrow {
        display: none;
    }
}

@media (max-width: 400px) {

    #projects .project,
    #projects .image {
        width: 100%;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
    }

    #projects .body {
        padding: 3%;
    }    
    
    #projects .head,
    #projects .body {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #projects .body {
        width: 94%;
    }

    #programs,
    #languages {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 15px;
        height: auto;
        gap: 30px;
    }

    #programs .program,
    #languages .language {
        width: calc(100% - 40px);
        padding: 10px;
        background-color: rgb(32, 32, 32);
        border-radius: 10px;
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        transition: box-shadow 0.1s ease, transform 0.1s ease;
        transform: translateY(0);
    }
    section {
        padding-left: 0%;
        padding-right: 0%;
    }
    footer {
        height: 250px;
    }
    .footer-object {
        height: 250px;
    }
    embed {
        width: 100%;
        height: 18vw;
    }
}

@media (max-width: 550px) {
    .flipCard {
        width: 100vw;
        height: 54.545vw;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(68, 68, 68, 0.8);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 102, 102, 1);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(68, 68, 68, 0.8) rgba(44, 44, 44, 0.5);
}