main {
    width: 95%;
}

#main-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
    image-rendering: optimizeQuality;
}

.main-div {
    width: calc(100% - 300px);
}

#title {
    font-size: 2.5em;
}

#logo {
    width: calc(100% - 40px);
    max-height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.panel {
    width: 300px;
}

.panel .intro {
    height: 250px;
}

@media screen and (max-width: 1200px) {
    .main-div {
        width: calc(100% - 200px);
    }
    
    .panel {
        width: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .main-div {
        width: calc(100% - 150px);
    }
    
    .panel {
        width: 150px;
    }
}

@media screen and (max-width: 800px) {
    .panel {
        order: -1;
        margin-bottom: 20px;
    }
}